[bumpversion]
current_version = 0.0.0
commit = False
tag = False

# [bumpversion:file:helm/api-values-dev.yaml]

# [bumpversion:file:helm/api-values-prod.yaml]

# [bumpversion:file:.github/workflows/deploy.yaml]

[bumpversion:file:Makefile]