div .container {
    background-color: lightgray;
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 15px;
}

.container-table {
    margin: 15px;
}